xterm*faceName: DejaVu Sans
xterm*faceSize: 12
xterm*termName: xterm-256color
xterm*visualBell: False

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
                 Ctrl ~Meta Shift <Key>h: string(0x1b) string("[72;5u") \n\
                 Ctrl ~Meta Shift <Key>l: string(0x1b) string("[76;5u")

*.background:#12101c
*.color0:#12101c
*.color1:#503989
*.color10:#6D52A1
*.color11:#7D66C0
*.color12:#9866A6
*.color13:#D37692
*.color14:#9375C5
*.color15:#ebc1cc
*.color2:#6D52A1
*.color3:#7D66C0
*.color4:#9866A6
*.color5:#D37692
*.color6:#9375C5
*.color66:      #0A0807
*.color7:#ebc1cc
*.color8:#a4878e
*.color9:#503989
*.cursorColor:#12101c
*.foreground:#ebc1cc
